<%- include('../views/partials/header'); -%>
<div class="row">
  <div class="col-md-6">
    <form class="" action="/todo/edit/<%= todo._id %>" method="post">
      <div class="form-group">
        <label for="name">Todo Name</label>
        <input class="form-control" type="text" name="todo" value="<%= todo.task %>" placeholder="New todo">
      </div>
      <div class="form-group">
        <label for="date">Todo Date</label>
        <input class="form-control" type="date" name="date" value="<%= todo.date %>" placeholder="Date">
      </div>
      <button class="btn btn-primary" type="submit" name="button">Update Todo</button>
      <a class="btn btn-warning" href="/">Cancel</a>
    </form>
  </div>
</div>
<%- include('../views/partials/footer'); -%>
